/* Global*/
html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100vh;
  font-family: "Frank Ruhl Libre", serif;
}
* {
  color: white;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
.button {
  background-color: black;
  border: 1px solid #4282b7;
  font-weight: 700;
}
/* header & footer*/
header,
footer {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(87, 93, 110));
  height: 15vh;
}

/* header */
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar_home {
  display: flex;
  width: 30%;
  padding-left: 3vw;
}
.navbar_list {
  width: 70%;
  display: flex;
}
.navbar_list_item {
  display: inline-flex;
}
.fa-bars {
  display: none;
}

/* main page index.php */
main {
  height: 69.6vh;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(87, 93, 110));
  border-top: 2px solid #4282b7;
  border-bottom: 2px solid #4282b7;
}
.main_index,
.main_presentation,
.main_presentation_content {
  display: flex;
  flex-direction: column;
}
.main_title,
.main_presentation_title {
  display: flex;
  justify-content: center;
}
.main_title {
  margin: 3vh 0;
}
.main_presentation_content {
  text-align: center;
}

/* main page connexion.php */
form {
  width: 100vw;
}
.connexion,
.lost_password {
  display: flex;
  flex-direction: column;
}
.connexion_title,
.connexion_form,
.connexion_form_button,
.lost_password_form,
.lost_password_title,
.lost_password_button {
  display: flex;
  justify-content: center;
}

/* main page inscription.php */
.inscription {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.inscription_title {
  justify-content: center;
}
.inscription_form,
.inscription_title,
.inscription_form_group {
  display: flex;
}
.inscription_form_select select,
.inscription_form_select option {
  color: #333;
}
.inscription_form_button {
  display: flex;
  justify-content: center;
}
/* footer */
footer,
.footer_social {
  display: flex;
  align-items: center;
}
footer {
  justify-content: space-between;
}
.footer_social {
  justify-content: space-around;
  width: 100vw;
}
.footer_social a {
  display: flex;
}
/* banner */
.banner {
  width: 100vw;
  background-color: black;
  border: 1px solid #4282b7;
}
.text_banner {
  font-size: 0.7rem;
  padding: 2px;
  text-align: center;
}
.button_banner {
  text-align: center;
  padding: 3px;
  border: 1px solid white;
  width: 65%;
  margin-left: 15vw;
  margin-bottom: 1vh;
  background-color: #4282b7;
}

/* screen =< 320px */
@media screen and (max-width: 320px) {
  /* general */
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /* header */
  .navbar_list {
    display: none;
  }
  .navbar_home {
    padding-left: 10vw;
  }
  .fa-bars {
    display: block;
    margin-left: 48vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 5vh;
  }
  .main_presentation_title {
    margin-top: 4vh;
  }
  .main_presentation_content p {
    margin: 4vh 3vw;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 5vh 0;
  }
  .connexion_form_email,
  .connexion_form_password,
  .lost_password_form_email {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .connexion_form_password label {
    padding: 0 2vh 0 0;
  }
  .connexion_form_password input {
    height: 1rem;
    margin-top: 0.25rem;
  }
  .connexion_form div,
  .lost_password_form div {
    margin-bottom: 3vh;
  }
  .remember,
  .remember label {
    padding-left: 4vw;
  }
  .lost_password_title {
    margin: 5vh 0;
  }

  /* main page inscription.php */
  .inscription_title {
    margin: 2vh 0;
  }
  .inscription_form,
  .inscription_form_group {
    justify-content: space-between;
    margin-bottom: 3vh;
    align-items: center;
    padding: 0 4vw;
  }
  .inscription_form_group input {
    margin-left: 2vw;
  }
  .inscription_form_button {
    margin-top: 6vh;
  }
  .password_retype,
  .inscription_form_select {
    flex-wrap: wrap;
    justify-content: center;
  }
  .password_retype label,
  .inscription_form_select label {
    margin-bottom: 3vh;
  }
}

/* screen > 320px & < 480px */
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* general */
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /* header */
  .navbar_list {
    display: none;
  }
  .navbar_home {
    padding-left: 10vw;
  }
  .fa-bars {
    display: block;
    margin-left: 50vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 7vh;
  }
  .main_presentation_title {
    margin: 4vh 0;
  }
  .main_presentation_content p {
    margin: 4vh 3vw;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 5vh 0;
  }
  .connexion_form_email,
  .connexion_form_password,
  .lost_password_form_email {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw;
  }
  .connexion_form div,
  .lost_password_form div {
    margin-bottom: 3vh;
  }
  .connexion_form_button button,
  .lost_password_button button {
    margin-top: 3vh;
  }
  .remember,
  .remember label {
    padding-left: 4vw;
  }
  .lost_password_title {
    margin: 5vh 0;
  }

  /* main page inscription.php */
  .inscription_title {
    margin: 5vh 0 3vh 0;
  }
  .inscription_form,
  .inscription_form_group {
    justify-content: space-between;
  }
  .inscription_form_group {
    padding: 0 5vw;
    margin: 3vh 0;
  }
  .inscription_form_group input {
    height: 1rem;
  }
  .inscription_form_button {
    margin-top: 5vh;
  }
  .password_retype,
  .inscription_form_select {
    flex-wrap: wrap;
    justify-content: center;
  }
  .inscription_form_select label,
  .password_retype label {
    margin: 2vh 0 3vh 0;
  }
}

/* screen >481px & < 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* general */
  html {
    font-size: 16px;
  }
  /* header */
  .navbar_home {
    width: 30%;
  }
  .navbar_list {
    width: 70%;
  }
  .navbar_list_item {
    margin-left: 7vw;
  }

  /* main  page index.php */
  .main_title {
    margin: 4vh;
  }
  .main_presentation_title {
    margin-bottom: 4vh;
  }
  .main_presentation_content {
    margin-top: 4vh;
  }
  .main_presentation_content p {
    margin-bottom: 2vh;
  }
  .main_presentation_content p:last-child {
    margin-top: 6vh;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 3vh 0;
  }
  .connexion_form_email,
  .connexion_form_password {
    display: flex;
    justify-content: space-between;
    padding: 0 20vw;
  }
  .connexion_form div {
    margin-bottom: 3vh;
  }
  .remember {
    padding-left: 19.5vw;
  }
  .remember label {
    padding-left: 4vw;
  }
  .lost_password_title {
    margin-bottom: 2vh;
  }
  .lost_password_form {
    display: flex;
  }
  .lost_password_form_email,
  .lost_password_button,
  .lost_password_form_email label {
    display: inline-flex;
    padding: 0 5vw;
  }
  .lost_password_form {
    padding-left: 10vw;
  }

  /* main page inscription.php */
  .inscription_title {
    margin: 2vh 0;
  }
  .inscription_form,
  .inscription_form_group {
    justify-content: space-between;
  }
  .inscription_form_group {
    padding: 0 15vw;
    margin: 3vh 0;
  }
  .inscription_form_group input {
    height: 1rem;
  }
  .password_retype {
    padding: 0 7vw;
  }
  .inscription_form_select {
    padding: 0 7.5vw;
  }
  .password_retype input {
    margin-right: 3vw;
  }
  .inscription_form_button {
    margin-top: 3vh;
  }
}
/* screen >768px and < 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* header */
  .navbar_list_item {
    margin-left: 10vw;
  }
  /* main page index.php */
  .main_title {
    margin-top: 7vh;
  }
  .main_presentation_title {
    margin: 5vh 0;
  }
  .main_presentation_content p {
    margin: 3vh 3vw;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 3vh 0;
  }
  .lost_password_title {
    margin-bottom: 2vh;
  }
  .connexion_form_email,
  .connexion_form_password {
    display: flex;
    justify-content: space-between;
    padding: 0 20vw;
  }
  .connexion_form div {
    margin-bottom: 3vh;
  }
  .remember {
    padding-left: 19.5vw;
  }
  .remember label {
    padding-left: 4vw;
  }
  .lost_password_form_email,
  .lost_password_button {
    display: inline-flex;
  }
  .lost_password_form_email {
    margin: 2vh 0 0 20vw;
  }
  .lost_password_form_email label {
    margin-right: 5vw;
  }
  .lost_password_button {
    margin-left: 5vw;
  }

  /* main page inscription.php */
  .inscription_title {
    margin: 2vh 0;
  }
  .inscription_form,
  .inscription_form_group {
    justify-content: space-between;
  }
  .inscription_form_group {
    padding: 0 15vw;
    margin: 3vh 0;
  }
  .inscription_form_group input {
    height: 1rem;
  }
  .password_retype {
    padding: 0 7vw;
  }
  .inscription_form_select {
    padding: 0 7.5vw;
  }
  .password_retype input {
    margin-right: 3vw;
  }
  .inscription_form_button {
    margin-top: 3vh;
  }
}

/* screen => 1024px */
@media screen and (min-width: 1024px) {
  /* general */
  html {
    font-size: 20px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* header */
  .navbar_list_item {
    margin-left: 10vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 7vh;
  }
  .main_presentation_title {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  .main_presentation_content p {
    margin-bottom: 5vh;
  }
  .main_presentation_content p:last-child {
    margin-top: 8vh;
  }

  /* main page connexion.php */
  .connexion_title,
  .lost_password_title {
    margin: 5vh 0;
  }
  .connexion_form_email,
  .connexion_form_password,
  .lost_password_form_email {
    display: flex;
    justify-content: space-between;
    padding: 0 30vw;
  }
  .connexion_form div {
    margin-bottom: 3vh;
  }
  .remember {
    padding-left: 30vw;
  }
  .remember label {
    padding-left: 2vw;
  }
  .lost_password_button {
    margin-top: 5vh;
  }

  /* main page inscription.php */
  .inscription_title {
    margin: 5vh 0 3vh 0;
  }
  .inscription_form,
  .inscription_form_group {
    justify-content: space-between;
  }
  .inscription_form_group {
    padding: 0 15vw;
    margin: 5vh 0;
  }
  .inscription_form_group input {
    height: 1rem;
  }
  .password_retype {
    padding: 0 7vw 0 9vw;
  }
  .inscription_form_select {
    padding: 0 9vw;
  }
  .password_retype input {
    margin-right: 3vw;
  }
  .inscription_form_button {
    margin-top: 3vh;
  }
}
