/* Global*/
html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100vh;
  font-family: "Frank Ruhl Libre", serif;
}
* {
  color: white;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}
.button {
  background-color: black;
  border: 1px solid #4282b7;
  font-weight: 700;
}
/* header & footer*/
header,
footer {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(87, 93, 110));
  height: 15vh;
}

/* header */
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar_home {
  display: flex;
  width: 30%;
  padding-left: 3vw;
}
.navbar_list {
  width: 70%;
  display: flex;
}
.navbar_list_item {
  display: inline-block;
}
.fa-bars {
  display: none;
}

/* main page index.php */
main {
  height: 69.6vh;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(87, 93, 110));
  border-top: 2px solid #4282b7;
  border-bottom: 2px solid #4282b7;
}
.main_index {
  display: flex;
  flex-direction: column;
}
.main_title {
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}
.main_presentation {
  display: flex;
  flex-direction: column;
}
.main_presentation_title {
  display: flex;
  justify-content: center;
}
.main_presentation_content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* main page connexion.php */
.connexion,
.lost_password {
  display: flex;
  flex-direction: column;
}
.connexion_title,
.connexion_form,
.connexion_form_button,
.lost_password_form {
  display: flex;
  justify-content: center;
}
.lost_password_title,
.lost_password_button {
  display: flex;
  justify-content: center;
}
/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}
.footer_social a {
  display: flex;
}
.logo {
  border-radius: 50%;
  display: inline-flex;
}

/* banner */
.banner {
  width: 100vw;
  background-color: black;
  border: 1px solid #4282b7;
}
.text_banner {
  font-size: 0.7rem;
  padding: 2px;
  text-align: center;
}
.button_banner {
  text-align: center;
  padding: 3px;
  border: 1px solid white;
  width: 65%;
  margin-left: 15vw;
  margin-bottom: 1vh;
  background-color: #4282b7;
}

/* screen < 480px */
@media screen and (max-width: 480px) {
  /* general */
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /* header */
  .navbar_list {
    display: none;
  }
  .navbar_home {
    padding-left: 10vw;
  }
  .fa-bars {
    display: block;
    margin-left: 50vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 5vh;
  }
  .main_presentation_title {
    margin-top: 4vh;
  }
  .main_presentation_content p {
    margin: 4vh 3vw;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 5vh 0;
  }
  .connexion_form_email,
  .connexion_form_password,
  .lost_password_form_email {
    display: flex;
    justify-content: space-between;
  }
  .connexion_form label {
    margin-right: 3vw;
  }
  .connexion_form div,
  .lost_password_form div {
    margin-bottom: 3vh;
  }

  .lost_password_title {
    margin: 8vh 0 5vh 0;
  }
  .lost_password_form label {
    margin-right: 16vw;
  }

  /* footer*/
  .logo {
    height: 4.5vh;
    margin-left: 5vw;
  }
}

/* screen >481px & < 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* header */
  .navbar_home {
    width: 20%;
  }
  .navbar_list {
    width: 80%;
  }
  .navbar_list_item {
    margin-left: 10vw;
  }

  /* main  page index.php */
  .main_title {
    margin: 4vh;
  }
  .main_presentation_title {
    margin-bottom: 4vh;
  }
  .main_presentation_content {
    margin-top: 4vh;
  }
  .main_presentation_content p {
    margin-bottom: 2vh;
  }
  .main_presentation_content p:last-child {
    margin-top: 6vh;
  }

  /* main page connexion.php */
  .connexion_title {
    margin: 3vh 0;
  }
  .lost_password_title {
    margin-bottom: 2vh;
  }
  .connexion_form_email,
  .connexion_form_password {
    display: flex;
    justify-content: space-between;
  }
  .connexion_form label {
    margin-right: 3vw;
  }
  .connexion_form div {
    margin-bottom: 3vh;
  }
  .lost_password_form_email,
  .lost_password_form_email label,
  .lost_password_button {
    display: inline-flex;
    margin-right: 3vw;
  }
}

/* screen >768px and < 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* header */
  .navbar_home {
    width: 20%;
  }
  .navbar_list_item {
    margin-left: 10vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 7vh;
  }
  .main_presentation_title {
    margin: 5vh 0;
  }
  .main_presentation_content p {
    margin: 3vh 3vw;
  }

  /* main page connexion.php */
  .connexion_title,
  .lost_password_title {
    margin: 3vh 0;
  }
  .connexion_form div,
  .lost_password_form_email {
    margin-bottom: 3vh;
  }
}

/* screen => 1024px */
@media screen and (min-width: 1024px) {
  /* general */
  html {
    font-size: 20px;
  }
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* header */
  .navbar_list_item {
    margin-left: 10vw;
  }

  /* main page index.php */
  .main_title {
    margin-top: 7vh;
  }
  .main_presentation_title {
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
  .main_presentation_content p {
    margin-bottom: 5vh;
  }
  .main_presentation_content p:last-child {
    margin-top: 8vh;
  }

  /* main page connexion.php */
  .connexion_title,
  .lost_password_title {
    margin: 5vh;
  }
  .connexion_form div,
  .lost_password_form_email {
    margin-bottom: 3vh;
  }
}
