/* Global*/
html {
  box-sizing: border-box;
  font-size: 18px;
  height: 100vh;
  font-family: "Frank Ruhl Libre", serif;
}
* {
  color: white;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.3rem;
}
a {
  text-decoration: none;
}

/* header & footer*/
header,
footer {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(87, 93, 110));
  height: 15vh;
}

/* header */
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar_home {
  display: flex;
  width: 30%;
  padding-left: 3vw;
}
.navbar_list {
  width: 70%;
  display: flex;
}
.navbar_list_item {
  display: inline-block;
}
.fa-bars {
  display: none;
}

/* main */
main {
  height: 69.6vh;
  background: linear-gradient(to left, rgb(0, 0, 0), rgb(87, 93, 110));
  border-top: 2px solid #4282b7;
  border-bottom: 2px solid #4282b7;
}
.main_index {
  display: flex;
  flex-direction: column;
}
.main_title {
  display: flex;
  justify-content: center;
  margin: 3vh 0;
}
.main_presentation {
  display: flex;
  flex-direction: column;
}
.main_presentation_title {
  display: flex;
  justify-content: center;
}
.main_presentation_content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* screen < 480px */
@media screen and (max-width: 480px) {
  /* general */
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  /* header */
  .navbar_list {
    display: none;
  }
  .navbar_home {
    padding-left: 10vw;
  }
  .fa-bars {
    display: block;
    margin-left: 50vw;
  }

  /* main */
  .main_title {
    margin-top: 5vh;
  }
  .main_presentation_title {
    margin: 4vh 0 0;
  }
  .main_presentation_content p {
    margin: 4vh 3vw;
  }

  /* footer*/
  .footer_social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .footer_social a {
    display: flex;
  }
  .logo {
    height: 4.5vh;
    border-radius: 50%;
    display: inline-flex;
    margin-left: 5vw;
  }

  /* banner */
  .banner {
    width: 95%;
    background-color: black;
    margin-left: 2vw;
    border: 1px solid #4282b7;
  }
  .text_banner {
    font-size: 0.7rem;
    padding: 2px;
    text-align: center;
  }
  .button_banner {
    text-align: center;
    padding: 3px;
    border: 1px solid white;
    width: 65%;
    margin-left: 15vw;
    margin-bottom: 1vh;
    background-color: #4282b7;
  }
}

/* screen < 768px */
@media screen and (max-width: 768px) {
  /* general */

  /* header */
  .navbar_home {
    width: 20%;
  }
  .navbar_list_item {
    margin-left: 5vw;
  }

  /* main */
  .main_index {
    flex-direction: column;
  }
}

/* screen < 1024px */
@media screen and (max-width: 1024px) {
  /* general */

  /* header */
  .navbar_home {
    width: 20%;
  }
  .navbar_list_item {
    margin-left: 10vw;
  }
}

/* screen > 1024px */
@media screen and (min-width: 1025px) {
  /* general */
  html {
    font-size: 20px;
  }

  /* header */
  .navbar_list_item {
    margin-left: 15vw;
  }
}
